.filterContainer {
    padding-left: 5px;
    padding-right: 5px;
}

.filtersContainer {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: auto;
}

.cultureHelper {
    position: fixed;
    z-index: 2;
    background-color: wheat;
    border-radius: 5px;
    border-color: gray;
    border: 1.5px groove;
}

.header {
    display: flex;
    align-self: center;
}